*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
}
.projects{
    border-radius: 20px;
    transition:0.5s ease;
}
.Project-heading{
    font-size: 3rem;
    font-weight: bolder;
}
.project-desc{
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 20px;
}
.projects:hover{
    transform:scale(1.1);
    margin-bottom: 1.5rem;
}

.backButton{
    float: left;
    padding: 5px;
    border-radius: 10px;
    width: 10%;
    border: none;
    background-color: #fff;
}
.backButton a{
    text-decoration: none;
    color: #000;
    background-color: white;
}
.backButton:hover, 
.backButton a:hover,
.backButton:hover{
    background-color: #4169E1;
    color: #fff;
}