.skillContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.insideText{
    color: #000;
    font-size: 2rem;
}
.myText{
    color: #fff;
    text-align: center;
}
.backButton{
    float: left;
    padding: 5px;
    border-radius: 10px;
    width: 10%;
    border: none;
}
.backButton a{
    text-decoration: none;
    color: #000;
}
.backButton:hover, 
.backButton a:hover{
    background-color: #4caf50;
}