.container-fluid{
    color: #fff;

}
.navBarDiv{
    display: flex;
    justify-content: center;
    width: 100%;
}
.logoText{
    transition: 0.5s ease;
}
.logoText a{
    color: #fff;
    text-decoration: none;
}
.logoText:hover{
    transform:scale(1.1);
}
.navBar{
    position: relative;
    justify-content: center;
    width: 100%;
}

.navBar ul{
    list-style-type: none;
    display:flex;
    justify-content: center;
    gap: 1.5rem;
}
.navBar ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 1.5rem;
}
.footer{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.myImage{
    border-radius: 50%;
}
.about-section{
    color: #000;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;   

}
.skillSection{
    width: 100%;
    height: fit-content;
    display: grid;
    justify-content: space-evenly;
}
.card-body{
    text-align: center;
}